// ---------------------------- COLORS
@mainBackground:        #c7d1d8;
@mainColor:             #2a3a48;
@drawerBackground:      #e1e7ec;
@folderColor:           #6f8193;
@streamColor:          @mainColor;
@layoutBorderColor:     #606d78;

@links:                 #4794c4;
@linksHover:            #2a5e88;

@headerLight:           #445868;
@headerDark:            @mainColor;
@titleColor:            #556b7b;
@buttonColor:           @mainBackground;
@buttonHover:           #fff;

@activeColor:           #5daad5;

// Tasks
@dueDateBackground:     #accfe8;
@dueDateBorder:         #73a4ca;
@dueDateColor:          #246fa9;
@assignedToColor:       @titleColor;

// Folders
@folderBorder:          #9ba5ad;
@folderBackground:      #dbe1e5;
@folderHeaderLight:     #f2f5f8;
@folderHeaderDark:      #dfe2e6;
@folderTitle:           #7a8a99;

// Pannels
@panBackground:         rgba(0,0,0,.85);
@panShadow:             rgba(0,0,0,.8);
@panText:               #aaa;
@panTitle:              #fff;
@panBorder:             #333;
@panButtonBackground:   #444;
@panButtonColor:        #fff;

// ----------------------------- FONTS
@defaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;

// ----------------------------- SIZES
@headerHeight:          40px;
@drawerWidth:           220px;
@navigationWidth:       70px;
@breadcrumbHeight:      50px;

