@(group: String, streams: Seq[Stream] = Nil)

<li data-group="@group">
    <span class="toggle"></span>
    <h4 class="groupName">@group</h4>
    <span class="loader">Loading</span>
    <dl class="options">
        <dt>Options</dt>
        <dd>
            <button class="newProject">Add subdomain</button>
            <button class="deleteGroup">Remove account</button>
        </dd>
    </dl>
    <ul>
        @streams.map { stream =>
            @views.html.streams.item(stream)
        }
    </ul>
</li>
