@(stream: Stream)

<li data-project="@stream.id">
    <a class="name" href="@routes.Streams.getStream(stream.id.get)">@stream.subdomain</a>
    <button formmethod="delete" class="delete" href="@routes.Streams.deleteStream(stream.id.get)">Delete</button>
    <span class="loader">Loading</span>
</li>
