@(streams: Seq[Stream], user: User, stream: Stream )

@main(streams, user, stream ){
    
    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Streams</h2>
        </hgroup>
    </header>
    
    <article  class="tasks">
        @if(stream == null) {
            <p>Please select a stream</p>
        } else {
            <p>@stream.subdomain</p>
            <p>@stream.api_key</p>
            @stream.video_asset_ids.map { video_asset_ids =>
                <p>@video_asset_ids</p>
            }
            <main>
                <div id="video-streaming"><canvas id="canvas"></canvas></div>
                <br />
                <input class="button orange" type="button" id="play" value="► Play" />
                <input class="button black" type="button" id="pause" value="◼ Pause" />
            </main>

            <div id="video">
            </div>

            <div id="player">
                <!-- this paragraph will be shown if FlashPlayer unavailable -->
                <p>
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://wwwimages.adobe.com/www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                    </a>
                </p>
            </div>

            <script type="text/javascript" charset="utf-8">
                $(function(){
                    mDialog.liveStreamPlayer({
                        subdomain: 'preview-vod',
                        apiKey: 'examplepoc',
                        assetKey: 'haven_test',
                        playerContainer: '#video',
                        debug: true
                    });
                });
            </script>

        }
    </article>
}

